*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!.idea/icon.png
!.idea/icon_dark.png
.DS_Store
lint-results.*
build/
/captures
.externalNativeBuild

*.apk
*.aab
*.apks

**/vendor/bundle/
**/xcuserdata/

proguard-merged-config.txt
