*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
lint-results.*
build/
/captures
.externalNativeBuild

*.apk
*.aab
*.apks

**/vendor/bundle/
