branches:
  only:
  - travis_release_build
  - master
  - release
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
matrix:
  include:
  - language: android
    sudo: required
    jdk: oraclejdk8
    before_cache:
    - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
    - rm -rf $HOME/.gradle/caches/*/plugin-resolution/
    cache:
      directories:
      - "$HOME/.gradle"
      - "$HOME/.android"
      - ".gradle"
    env:
    - RELEASE_BUILD=true
    android:
      components:
      - platform-tools
      - android-28
      - build-tools-28.0.3
      - extra-google-m2repository
      - extra-android-m2repository
      - tools
      licenses:
      - android-sdk-preview-license-.+
      - android-sdk-license-.+
      - google-gdk-license-.+
    before_install:
    - openssl aes-256-cbc -K $encrypted_1701aaafcc71_key -iv $encrypted_1701aaafcc71_iv
      -in .travis/android/release.zip.enc -out release.zip -d
    - "./.travis/android/before_install.bash"
    script: ".travis/android/run.bash"
  - language: objective-c
    os: osx
    osx_image: xcode10.1
    xcode_workspace: frontend/ios/DroidKaigi\ 2019.xcworkspace
    cache:
    - directories:
      - ios/frontend/vendor/bundle
      - ios/frontend/Pods
      - "$HOME/.gradle"
      - "$HOME/.android"
      - ".gradle"
      - "$ANDROID_HOME"
    env:
    - ANDROID_HOME="$HOME/android-sdk"
    before_install:
    - "./.travis/ios/before_install.bash"
    script: ".travis/ios/run.bash"
env:
  global:
  - secure: Jw5L3sTHnuivSj2+DPdqbgNhVvdr1Zg8bY1USNUNMl8sR1nIhupb8IFUfP/5ymJIUrXgOizVILJwRZX6AxD8RvxJfjzm+A1ovh+ob+ymNQVUDKmWD8Ho2qPOpAEQiJIzPHzZnZIQHyZFOYC3hIhlNz48zSha3sT1ZD3PMJByGxsk3zU4ELlYZczR2pPkOR4h52mJES8WmcTI68Spl4ILBnQWM4AkrgyJBmBD0Ipt3DxvKDLC6vpH++NkXUzUUckyYp3K7g2RonvkoxdS7xzyYJdfhgOHjgs6q1C+EzDveTwijtbdacQ9I0zqMCoPqNdj3Irt1htiVi9BwGcp43vPwfSM+mYNjZQg5qeNAaRL3qR72kMC8oiaOnoJmleYCFTz5VNOhsAi5KqyNXZcO5oziOwFOkAWiFIFR0mx+jcOakFsFrW2+LV+PePgjHZRvh27ZnDa9HGM237LUFYFdzv2haArJJL3C5EohZLmGXjzEE93P5seiZUvLnSAU40ut2pLG0e2nWDMudB3smLNF9x5N6C8EMlwhpoVDH1bvOX2ndZhJHBprh1vYIlDk7mKeQrVfmwu4JmkYhO+BLfMXiuK3Szac+g5riX9nsPXPM3WK0qcX5nZT+OH9awkAY4ykAT/tBR4pODPY99gL9l1RoKqJrlZAvYy8CyIcopNefqJNoI=
