export CIRCLE_PROJECT_USERNAME="DroidKaigi"
export CIRCLE_PROJECT_REPONAME="conference-app-2019"
export DEPLOYGATE_USER_NAME=droidkaigi

if [[ -f ".envrc.secret" ]]; then
    # Define the following values
    # DANGER_GITHUB_API_TOKEN
    # DEPLOYGATE_API_TOKEN
    source .envrc.secret
fi