<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.droidkaigi.confsched2019"
    >

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"
            />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${isCi}"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />

        <activity android:name=".ui.MainActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="droidkaigi.jp"
                    android:pathPrefix="/2019/timetable/"
                    android:scheme="https"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="droidkaigi.jp"
                    android:pathPrefix="/2019/en/timetable/"
                    android:scheme="https"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="droidkaigi.jp"
                    android:path="/2019/announcement"
                    android:scheme="https"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="droidkaigi.jp"
                    android:path="/2019/en/announcement"
                    android:scheme="https"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme.WithActionBar"
            />

        <receiver android:name=".broadcastreceiver.NotificationBroadcastReceiver"/>
    </application>

</manifest>
