<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.droidkaigi.confsched2019.notification"
    >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application>
        <service android:name=".service.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".service.ManageTopicSubscriptionIntentService"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/ic_dialog_alert"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />
    </application>
</manifest>
